.navbar {
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--bg-dark);
}

.navbar-logo {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo-image {
    height: 40px;
    width: auto;
    border-radius: 8px;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: thin;
    transition: color 0.3s ease;
}

.navbar-actions {
    display: flex;
    gap: 2rem;
}

.navbar-actions a {
    color: var(--color-accent);
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    border: 1px solid var(--color-accent);
    border-radius: 25px;
    transition: 0.4s ease;
}

.navbar-actions a:hover {
    background-color: var(--color-accent);
    color: white;
}